.checkoutTotal{
    box-shadow: 1px 1px 10px grey;
}

.amount{
    font-size: 50px;
}

.buttonDiv{
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.button1, .button2, .button3{
    transition: all ease 200ms;
    border: 0;
    outline: 0;
}


:is(.button1, .button2, .button3):hover{
    transform: scale(1.05)
}


