.productMain{
    max-width: 220px;
    min-width: 220px;
    max-height: 360px;
    min-height: 360px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-top: 5px;

}

